<a href="https://colab.research.google.com/github/18cse081/dmdw/blob/main/Data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
path =("https://raw.githubusercontent.com/18cse005/DMDW/main/USA_cars_datasets.csv")

In [ ]:
data=pd.read_csv(path)

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
data.info

<bound method DataFrame.info of       Unnamed: 0  price      brand  ...       state  country      condition
0              0   6300     toyota  ...  new jersey      usa   10 days left
1              1   2899       ford  ...   tennessee      usa    6 days left
2              2   5350      dodge  ...     georgia      usa    2 days left
3              3  25000       ford  ...    virginia      usa  22 hours left
4              4  27700  chevrolet  ...     florida      usa  22 hours left
...          ...    ...        ...  ...         ...      ...            ...
2494        2494   7800     nissan  ...  california      usa    1 days left
2495        2495   9200     nissan  ...     florida      usa  21 hours left
2496        2496   9200     nissan  ...     florida      usa  21 hours left
2497        2497   9200     nissan  ...     florida      usa    2 days left
2498        2498   9200     nissan  ...     florida      usa  21 hours left

[2499 rows x 13 columns]>

In [ ]:
data.shape

(2499, 13)

In [ ]:
data.index

RangeIndex(start=0, stop=2499, step=1)

In [ ]:
data.columns

Index(['Unnamed: 0', 'price', 'brand', 'model', 'year', 'title_status',
       'mileage', 'color', 'vin', 'lot', 'state', 'country', 'condition'],
      dtype='object')

In [ ]:
data.head()

   Unnamed: 0  price      brand  ...       state  country      condition
0           0   6300     toyota  ...  new jersey      usa   10 days left
1           1   2899       ford  ...   tennessee      usa    6 days left
2           2   5350      dodge  ...     georgia      usa    2 days left
3           3  25000       ford  ...    virginia      usa  22 hours left
4           4  27700  chevrolet  ...     florida      usa  22 hours left

[5 rows x 13 columns]

In [ ]:
data.tail()

      Unnamed: 0  price   brand  ...       state  country      condition
2494        2494   7800  nissan  ...  california      usa    1 days left
2495        2495   9200  nissan  ...     florida      usa  21 hours left
2496        2496   9200  nissan  ...     florida      usa  21 hours left
2497        2497   9200  nissan  ...     florida      usa    2 days left
2498        2498   9200  nissan  ...     florida      usa  21 hours left

[5 rows x 13 columns]

In [ ]:
data.head(10)

   Unnamed: 0  price      brand  ...       state  country      condition
0           0   6300     toyota  ...  new jersey      usa   10 days left
1           1   2899       ford  ...   tennessee      usa    6 days left
2           2   5350      dodge  ...     georgia      usa    2 days left
3           3  25000       ford  ...    virginia      usa  22 hours left
4           4  27700  chevrolet  ...     florida      usa  22 hours left
5           5   5700      dodge  ...       texas      usa    2 days left
6           6   7300  chevrolet  ...     georgia      usa  22 hours left
7           7  13350        gmc  ...  california      usa  20 hours left
8           8  14600  chevrolet  ...     florida      usa  22 hours left
9           9   5250       ford  ...       texas      usa    2 days left

[10 rows x 13 columns]

In [ ]:
data.isnull().sum()

Unnamed: 0      0
price           0
brand           0
model           0
year            0
title_status    0
mileage         0
color           0
vin             0
lot             0
state           0
country         0
condition       0
dtype: int64

In [ ]:
data.dropna(inplace=True) # removed the null values 1st method remove roes when large data we are having
data.isnull().sum()

Unnamed: 0      0
price           0
brand           0
model           0
year            0
title_status    0
mileage         0
color           0
vin             0
lot             0
state           0
country         0
condition       0
dtype: int64

In [ ]:
data.shape

(2499, 13)

In [ ]:
data.head(10)

   Unnamed: 0  price      brand  ...       state  country      condition
0           0   6300     toyota  ...  new jersey      usa   10 days left
1           1   2899       ford  ...   tennessee      usa    6 days left
2           2   5350      dodge  ...     georgia      usa    2 days left
3           3  25000       ford  ...    virginia      usa  22 hours left
4           4  27700  chevrolet  ...     florida      usa  22 hours left
5           5   5700      dodge  ...       texas      usa    2 days left
6           6   7300  chevrolet  ...     georgia      usa  22 hours left
7           7  13350        gmc  ...  california      usa  20 hours left
8           8  14600  chevrolet  ...     florida      usa  22 hours left
9           9   5250       ford  ...       texas      usa    2 days left

[10 rows x 13 columns]

In [ ]:
# 2nd method handling missing value
data['price'].mean()

18767.671468587436

In [ ]:
data['price'].head()

0     6300
1     2899
2     5350
3    25000
4    27700
Name: price, dtype: int64

In [ ]:
data['price'].replace(np.NaN,data['price'].mean()).head()

0     6300
1     2899
2     5350
3    25000
4    27700
Name: price, dtype: int64